src/build_tools/__init__.pyc
src/build_tools/android_util.pyc
src/build_tools/mozc_version.pyc
src/build_tools/test_tools/__init__.pyc
src/build_tools/test_tools/test_launcher.pyc
src/build_tools/util.pyc
src/mozc_version.txt
src/out/
src/build_tools/code_generator_util.pyc
src/dictionary/__init__.pyc
src/dictionary/pos_util.pyc
src/mozc_build_tools/
src/rewriter/__init__.pyc
src/rewriter/embedded_dictionary_compiler.pyc
src/Debug/
src/win32/ime/RC*
src/*.sdf
src/*.suo
src/*.vcxproj
src/*.vcxproj.filters


