src/build_tools/__init__.pyc
src/build_tools/android_util.pyc
src/build_tools/mozc_version.pyc
src/build_tools/test_tools/__init__.pyc
src/build_tools/test_tools/test_launcher.pyc
src/build_tools/util.pyc
src/mozc_version.txt
src/out/
src/build_tools/code_generator_util.pyc
src/dictionary/__init__.pyc
src/dictionary/pos_util.pyc
src/mozc_build_tools/
src/rewriter/__init__.pyc
src/rewriter/embedded_dictionary_compiler.pyc
src/Debug/
src/win32/ime/RC*
src/win32/Debug
src/*.sdf
src/*.suo
src/*.vcxproj
src/*.vcxproj.filters
src/*.opensdf
src/*.user
src/*.sln
src/win32/*.sdf
src/win32/*.suo
src/win32/*.vcxproj
src/win32/*.vcxproj.filters
src/win32/*.opensdf
src/win32/*.user
src/win32/*.sln
src/win32/broker/RCa01152
src/win32/tip/RCa01152


